@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

:root {
  color-scheme: dark;
  font-family: InterVariable, sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background:
    radial-gradient(circle at top, rgba(56, 189, 248, 0.18), transparent 32%),
    radial-gradient(
      circle at bottom right,
      rgba(217, 70, 239, 0.14),
      transparent 26%
    ),
    #020617;
}
